{
    "anonymous": [
        "anonymous_person@gmail.com",
        "clarkkent@gmail.com"
    ],
    "names" : {
        "bruce@wayneenterprises.com": "Batman",
        "cat@woman.com": "Selina Kyle"
    }
}